<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!--<suite name="Suite" data-provider-thread-count="3" parallel="methods">-->
<suite name="Suite" parallel = "tests" data-provider-thread-count="3">
    <!--<suite name="Suite">-->
    <test name="Test" >
        <classes>
            <!--<class name="lab7part3.HW5.DataproviderClass"/>-->
            <class name="lab7part3.HW5.GmaiLoginBOTest" />
        </classes>
    </test>
</suite>